/* Chatbot Container */
.chatbot-container {
    width: 400px;
    height: 600px;
    margin: 50px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #868F96 0%,  #596164 100%);
    position: relative;
  }
  
  /* Chat Window */
  .chat-window {
    padding: 20px;
    height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 15px;
    max-width: 80%;
    font-size: 14px;
    font-family: 'Fira Code', monospace;
    color: #fff;
    word-wrap: break-word;
    position: relative;
    animation: fadeInUp 0.5s ease-in-out;
  }
  
  .user-message {
    background: #4a90e2;
    align-self: flex-end;
  }
  
  .bot-message {
    background: #000000;
    align-self: flex-start;
  }
  
  .chatbot-button {
    display: inline-block;
    margin-top: 10px;
    margin-left: 8px;
    padding: 10px 20px; /* Adjusted padding */
    font-family: 'Fira Code', monospace;
    font-size: 16px; /* Ensured font size is adequate */
    background-color: #166cff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
    white-space: nowrap; /* Prevents text wrapping */
    width: fit-content; /* Adjusts button width to fit the content */
    text-align: center;
}

  
  .chatbot-button:hover {
    transform: scale(1.1);
  }
  
  /* Input Container */
  .input-container {
    display: flex;
    padding: 5px;
    background-color: #fff;
    border-top: 2px solid #4a90e2;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #4a90e2;
    border-radius: 15px;
    font-size: 14px;
    font-family: 'Fira Code', monospace;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus {
    border-color: #000000;
  }
  
  .send-button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 15px;
    border: none;
    font-family: 'Fira Code', monospace;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 4px;
    transition: background-color 0.3s ease;
  }
  
  .send-button:hover {
    background-color: #2e40e4;
  }
  
  /* Background Animation */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right , #09203F 0%, #537895 100%);
    background-size: cover;
    animation: backgroundFade 10s infinite alternate;
  }
  
  @keyframes backgroundFade {
    0% {
      filter: brightness(1);
    }
    100% {
      filter: brightness(0.8);
    }
  }
  